force-app/main/default/flows/Create_Playlist_Screen_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Convert_picklist_into_string</name>
        <label>Convert picklist into string</label>
        <locationX>783</locationX>
        <locationY>954</locationY>
        <actionName>PlaylistValidation</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Create_Playlist_Record</targetReference>
        </connector>
        <inputParameters>
            <name>genres</name>
            <value>
                <elementReference>Genre_s</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>ApexOutput</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Number_of_values_selected</name>
        <label>Number_of_values_selected</label>
        <locationX>776</locationX>
        <locationY>446</locationY>
        <actionName>CountPlaylistGenres</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Convert_text_to_number</targetReference>
        </connector>
        <inputParameters>
            <name>genres</name>
            <value>
                <elementReference>Genre_s</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>ApexOutputCount</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Convert_text_to_number</name>
        <label>Convert text to number</label>
        <locationX>776</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>ApexOutputCountNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TextToNumber</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_selection_within_limit</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_selection_within_limit</name>
        <label>Check if selection within limit</label>
        <locationX>776</locationX>
        <locationY>686</locationY>
        <defaultConnector>
            <targetReference>Convert_picklist_into_string</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Limit_exceeded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ApexOutputCountNumber</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>Max_genre_count</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error</targetReference>
            </connector>
            <label>Limit exceeded</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Genres</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Genre__c</picklistField>
        <picklistObject>Song__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>TextToNumber</name>
        <dataType>Number</dataType>
        <expression>VALUE({!ApexOutputCount})</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Create Playlist Screen Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Playlist Screen Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Playlist_Record</name>
        <label>Create Playlist Record</label>
        <locationX>787</locationX>
        <locationY>1127</locationY>
        <connector>
            <targetReference>Playlist_Created_Successfully</targetReference>
        </connector>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Genres__c</field>
            <value>
                <elementReference>ApexOutput</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Playlist_Name</elementReference>
            </value>
        </inputAssignments>
        <object>Playlist__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_max_allowed_genres</name>
        <label>Get max allowed genres</label>
        <locationX>776</locationX>
        <locationY>326</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Number_of_values_selected</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Max</stringValue>
            </value>
        </filters>
        <object>Genre_Limit__mdt</object>
        <outputAssignments>
            <assignToReference>Max_genre_count</assignToReference>
            <field>Max_Genres__c</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Create_New_Playlist</name>
        <label>Create New Playlist</label>
        <locationX>776</locationX>
        <locationY>206</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_max_allowed_genres</targetReference>
        </connector>
        <fields>
            <name>Playlist_Name</name>
            <dataType>String</dataType>
            <fieldText>Playlist Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Genre_s</name>
            <choiceReferences>Genres</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Genre(s)</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error</name>
        <label>Error</label>
        <locationX>474</locationX>
        <locationY>459</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_New_Playlist</targetReference>
        </connector>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p&gt;Max genres that can be selected are {!Max_genre_count}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Playlist_Created_Successfully</name>
        <label>Playlist Created Successfully!</label>
        <locationX>787</locationX>
        <locationY>1314</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Success</name>
            <fieldText>&lt;p&gt;Playlist created successfully!!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Create_New_Playlist</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ApexOutput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ApexOutputCount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ApexOutputCountNumber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Max_genre_count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
